<form class="filter-form">
  {%- for filter in collection.filters -%}
      <p class="filter-title"> 
          {%- if filter.label == "Product type" -%}
            Category
            {%- else -%}
            {{ filter.label }}
          {%- endif -%}
      </p>

      <div class="filter-group-display">
        {%- case filter.type -%}
          {%- when 'boolean' or 'list' -%}
            <ul class="filter-group-display__list {% if filter.label == "Brand" %} filter__brand {% endif %} {% if filter.label == "Color" %} filter__colors {% endif %}">
              {%- for filter_value in filter.values -%}
                {%- if filter.label == "Color" -%}
                  <li class="filter-group-display__list-item filter__color">
                    <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}"  style="background: {{filter_value.value}} !important; color: {{filter_value.value}} !important;">
                    nn.</label>
                    <input type="radio"
                      onchange="submit()"
                      name="{{ filter_value.param_name }}"
                      value="{{ filter_value.value }}"
                      id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                      {% if filter_value.active -%}checked{%- endif %}
                      {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}>
                  </li> 
                  {%- else -%}
                    <li class="filter-group-display__list-item">
                      <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                      <input type="checkbox"
                        onchange="submit()"
                        name="{{ filter_value.param_name }}"
                        value="{{ filter_value.value }}"
                        id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                        {% if filter_value.active -%}checked{%- endif %}
                        {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                      >{{ filter_value.label }}</label>
                    </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>

          {%- when 'price_range' -%}
            <div class="filter-group-display__price-range">
              <div class="filter-group-display__price-range-from">
                <span>{{ cart.currency.symbol }}</span>

                <input onchange="submit()" name="{{ filter.min_value.param_name }}"
                  id="Filter-{{ filter.min_value.param_name }}"
                  {% if filter.min_value.value -%}
                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                  {%- endif %}
                  type="number"
                  placeholder="0"
                  min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                >

                <label for="Filter-{{ filter.min_value.param_name }}">From</label>
              </div>
              <div class="filter-group-display__price-range-to">
                <span>{{ cart.currency.symbol }}</span>

                <input name="{{ filter.max_value.param_name }}"
                  id="Filter-{{ filter.max_value.param_name }}"
                  {% if filter.max_value.value -%}
                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                  {%- endif %}
                  type="number"
                  placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                  min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                >

                <label for="Filter-{{ filter.max_value.param_name }}">To</label>
              </div>
            </div>
        {%- endcase -%}
      </div>
  {%- endfor -%}
</form>
<script>
  function submit() {
    document.filterForm.submit();
  }
</script>
